In [3]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [14]:
df = pd.read_csv('reviews.csv').drop('Unnamed: 0', axis=1)

In [15]:
df.head()

,rating,title,text
0,10,Some birds aren't meant to be caged.\n,The Shawshank Redemption is written and direct...
1,10,Tied for the best movie I have ever seen\n,Why do I want to write the 234th comment on Th...
2,10,An incredible movie. One that lives with you.\n,It is no wonder that the film has such a high ...
3,10,Don't Rent Shawshank.\n,I'm trying to save you money; this is the last...
4,10,This is How Movies Should Be Made\n,This movie is not your ordinary Hollywood flic...

In [16]:
df.describe()

             rating
count  70196.000000
mean       7.869708
std        2.877414
min        1.000000
25%        7.000000
50%        9.000000
75%       10.000000
max       10.000000

In [17]:
df.shape

(70196, 3)

In [18]:
dfinfo

NameError: name 'dfinfo' is not defined